<div class="container">
    <div class="card mt-4">
      <div class="card-body">
        <h3 class="card-title">
          Registrar usuario
        </h3>
        <form class="row" [formGroup]="form" (ngSubmit)="register()">
          <div class="formGroup col-md-4">
            <label for="name">Nombre:</label>
            <input type="text" id="name" placeholder="Inserta nombre" formControlName="name" required class="form-control">
          </div>
          <div class="formGroup col-md-4">
            <label for="country">País:</label>
            <input type="text"id="country" placeholder="Inserta country"formControlName="country" required class="form-control">
          </div>
          <div class="formGroup col-md-4">
            <label for="birthDate">Fecha de nacimiento</label>
            <input type="date" id="birthDate" placeholder="Inserta Fecha"formControlName="birthDate" required class="form-control">
          </div>
          <div class="formGroup col-md-6 mt-4">
            <label for="pass">Contraseña</label>
            <input type="password" id="pass" placeholder="Inserta Contraseña"formControlName="pass" required class="form-control">
          </div>
          <div class="formGroup col-md-6 mt-4">
            <label for="repitPass">Repite contraseña</label>
            <input type="password" id="repitPass" placeholder="Repite Contraseña"formControlName="repitPass" required class="form-control">
          </div>
          <button class="btn btn-primary col-md-2 mt-4" type="submit">Registrar usuario</button>
          <button class="btn btn-danger col-md-2 mt-4 offset-1" (click)="goBack()">Cancelar</button>
        </form>
      </div>
    </div>
</div>

